server:
  port: 8081
  servlet:
    context-path: /api

spring:
  data:
    mongodb:
      field-naming-strategy: org.springframework.data.mapping.model.SnakeCaseFieldNamingStrategy
      database: patra_db
      uri: mongodb://localhost:27017
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

cloud:
  aws:
    region:
      static: us-east-1
      auto: false
    credentials:
      instance-profile: false
    stack:
      auto: false